.about {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}
.bio > h1 {
  font-size: 4rem;
  font-family: 'bebas_neueregular';
  color: rgb(34, 86, 103);

}
.bio{
  flex: 0 1 70%;
  padding: 20px;
}
.bio > p {
  text-align: justify;
}
.profile_pic {
  flex: 0 1 30%;

}

img {
  border-radius: 50%;
  max-height: 300px;
  padding: 20px;
}
