.project>h1 {
  font-size: 4rem;
  font-family: 'bebas_neueregular';
  color: rgb(34, 86, 103);
}

.project {
  background-color: white;
  padding-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}
.item {
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: auto;
}
