.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.navbar>a {
  padding: 10px;
}
.navbar > a:link, .navbar>a:visited {
  color: lavender;
  text-decoration: none;
}
.navbar > a:hover, .navbar > `a:active {
  color: white;
}
