@font-face {
    font-family: 'ralewaylight';
    src: url('./fonts/raleway-light-webfont.woff2') format('woff2'),
         url('./fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('./fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 body {
  font-family: 'ralewaylight', arial, sans-serif;
  font-size: 20px;
  margin: 0;
  /* height: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
